html {
    background-color: #EEE;

body {
    font-family: Cormorant,"Times New Roman",Georgia,Serif;
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 80%;
    width: 70%;
}

a {
    background-color: hsl(59, 100%, 99%);
    border: 1px solid hsl(59, 100%, 99%);
    border-radius: 6px;
    color: #980C0C;
    font-weight: bold;
    padding: 0 2px;
    text-decoration: none;
}

a:link {
}

a:visited {
    color: #504F00;
}

a:focus, a:hover {
    background-color: hsl(59, 100%, 98%);
    border: 1px solid hsl(59, 1%, 68%);
}

a:active {
}

header {
    padding: 1rem 2rem;
    text-align: center;
}

header nav {
    text-align: center;
}

ul#navigation {
    padding: 0;
}

ul#navigation li {
    display: inline;
    list-style-type: none;
}

ul#navigation li a {
    background-color: hsl(59, 100%, 99%);
    border: 1px solid hsl(59, 100%, 99%);
    border-radius: 6px;
    color: #980C0C;
    font-weight: bold;
    padding: 0 2px;
    text-decoration: none;
}

ul#navigation li a:link {
}

ul#navigation li a:visited {
    color: #504F00;
}

ul#navigation li a:focus, a:hover {
    background-color: hsl(59, 100%, 98%);
    border: 1px solid hsl(59, 1%, 68%);
}

ul#navigation li a:active {
}

main {
    padding-top: 1rem;
}

main h2 {
    padding-top: 1rem;
}

section {
    padding: 1rem 2rem;
}

section h2 {
    padding-bottom: 1rem;
}

section.hero {
    padding: 0 6rem 1rem 6rem;
}

section.hero h2 {
    padding-top: 0;
    padding-bottom: 0;
}

section ul li {
    list-style-type: none;
}

footer {
    padding: 2rem;
    text-align: center;
}

